Repository vanyauhalin/mijelangelo: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint-root, pnpm lint-core

chore: init core package
  packages/core/package.json
  packages/core/tsconfig.json
Due: none

chore: add test deps
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  test/tsconfig.json
Due: pnpm lint-root

refactor: simplify lint-stagend config
  .lintstagedrc.json
Due: none

chore: add core package as deps
  package.json
Due: none

test: check if content is empty
  test/core/parse.ts
Due: none

feat: add empty parse function
  packages/core/src/parse.ts
Due: pnpm lint-core

chore: enable max-len for regexp
  .eslintrc.cjs
Due: pnpm lint-root

test: parse simple html element
  test/core/parse.ts
Due: none

feat: match elements in parse fn
  packages/core/src/parse.ts
Due: pnpm lint-core

chore: remove unnecessary info
  README.md
Due: none

test: parse single html element
  test/core/parse.ts
Due: none

feat: add single tag matches
  packages/core/src/parse.ts
Due: pnpm lint-core

refactor: simplify regex for tag matching
  packages/core/src/parse.ts
Due: pnpm lint-core

test: parse simple html element with attributes
  test/core/parse.ts
Due: none

feat: add matching attributes
  packages/core/src/parse.ts
Due: pnpm lint-core

test: parse simple web-component
  test/core/parse.ts
Due: none

feat: add matching web-component tag
  packages/core/src/parse.ts
Due: pnpm lint-core

test: parse single web-component
  test/core/parse.ts
Due: none

test: parse simple web-component with attributes
  test/core/parse.ts
Due: none

refactor: add consistent a new line
  test/core/parse.ts
Due: none

refactor: separate the Element
  packages/core/src/element.ts
  packages/core/src/parse.ts
  test/core/parse.ts
Due: pnpm lint-core

test: join RegExps
  test/core/utils.ts
Due: none

feat: joinRegExps util
  packages/core/src/utils.ts
Due: pnpm lint-core

test: parse simple statement delimiter
  test/core/parse.ts
Due: none

feat: matchig simple statement delimiter
  packages/core/src/delimiter.ts
  packages/core/src/parse.ts
Due: pnpm lint-core

test: parse simple expression delimiter
  test/core/parse.ts
Due: none

feat: matching simple expression delimiter
  packages/core/src/parse.ts
Due: pnpm lint-core

test: parse simple comment delimiter
  test/core/parse.ts
Due: none

feat: matching simple comment delimiter
  packages/core/src/parse.ts
Due: pnpm lint-core

refactor: add functions return type
  .eslintrc.cjs
  packages/core/src/parse.ts
  packages/core/src/utils.ts
Due: pnpm lint-root, pnpm lint-core

test: parse simple element with delimiter
  test/core/parse.ts
Due: none

Path conditions:
  pnpm lint-root: any of: ./*.cjs
  pnpm lint-core: any of: packages/core/src/**/*.ts
